body {
  background-image: url(../imgs/bg.jpg);
  background-size: cover;
  margin-inline: 150px;
  color: white;
  font-family: "Outfit", Helvetica, sans-serif;
  box-sizing: border-box;
}

nav {
  margin-top: 40px;
  margin-bottom: 100px;
  display: inline-block;
}

nav img {
  height: 50px;
}

main {
  margin-inline: 50px;
}

#question-container p {
  text-align: center;
  font-size: 4rem;
  word-wrap: break-word;
  user-select: none;
}

#question-index {
  margin-top: 130px;
}

.answer-option {
  display: inline-block;
  margin-right: 10px;
}

#question-container input[type="radio"] {
  display: none;
}

label {
  padding: 17px;
  display: inline-block;
  width: 46%;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  font-weight: 600;
  border-radius: 45px;
  margin-left: 21px;
  box-shadow: white -1px -2px 2px 0px;
  cursor: pointer;
  user-select: none;
}

label:hover {
  background: rgb(140, 0, 122);
  background: linear-gradient(0deg, rgba(140, 0, 122, 1) 0%, rgba(205, 0, 146, 1) 100%);
}

.selected {
  background: rgb(140, 0, 122);
  background: linear-gradient(0deg, rgba(140, 0, 122, 1) 0%, rgba(205, 0, 146, 1) 100%);
}

button {
  display: block;
  margin-top: 100px;
  padding-inline: 20px;
  padding-block: 10px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid white;
  font-size: 1.6rem;
  cursor: pointer;
  user-select: none;
  float: right;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.308);
}

.base-timer {
  position: relative;
  width: 177px;
  height: 177px;
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: #99699d;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: #00ffff;
}

.base-timer__label {
  width: 300px;
  height: 195px;
  text-align: center;
  font-size: 20px;
  position: relative;
  transform: translateY(-55%);
}

#app {
  float: right;
  margin-top: 3em;
}
