body {
  background-image: url(../imgs/bg.jpg);
  color: white;
  margin-inline: 80px;
  font-family: "Outfit", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

header img {
  margin-left: 5em;
  height: 50px;
  margin-bottom: 100px;
  margin-top: 60px;
}
main {
  text-align: center;
}
h1 {
  font-size: 3.2em;
  font-weight: bold;
  line-height: 5rem;
  margin-bottom: 20px;
}
p {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 2em;
}

.feedback {
  margin-top: 2em;
  font-size: 23px;
}

input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #9d1584;
  outline: none;
  opacity: 0.8;
  margin-top: 2em;
  color: white;
  width: 48em;
  padding: 6px;
  padding-left: 20px;
}

input[type="text"]::placeholder {
  color: #999;
}

main button {
  margin-top: 2em;
  color: #0b113b;
  background-color: #00ffff;
  padding-inline: 3em;
  padding-block: 1em;
  font-size: 1rem;
  font-weight: 800;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px #00ffff;
}

.rating {
  font-size: 0;
  direction: rtl;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-right: 5px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
}

.rating label:before {
  content: "\2605";
  color: #000000;
  display: block;
  font-size: 3em;
}

.rating input:checked ~ label:before {
  color: #00ffff;
}
