body {
    background-image: url(../imgs/bg.jpg);
    color:white;
    margin-inline: 80px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    
}
h1, h3 {
    font-family: 'Outfit', sans-serif;
}
/* NAV STYLE  */
nav img {
        height: 50px;
}
nav {
    margin-bottom: 100px;
    margin-top: 30px;
}

h1 {
    font-size: 6rem;
    font-weight: 100;
    line-height: 5rem;
}
h1 span {
    font-weight: 780;
}
h3 {
    color: #c2128d;
    font-size: 3rem;
    margin: 0px;
}
p {
    
    font-size: 1.5rem;
}
ul li {
    font-size: 1.5rem;
    line-height: 2.5rem;
}
ul {
    margin-top: 53px;
    margin-bottom: 66px;
}

.boldText {
    font-weight: 600;
}


/* CHECKBOX & LABEL   */
#checkLabel {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: .8px;
    cursor: pointer;
    user-select: none; /* Il testo non verrà evidenziato con il mouse */
}
#Confirmation {
    
    cursor: pointer;
    width: 23PX;
    height: 23px;
}


/* BUTTON STYLE  */
#NextPage {
    float: right;
    color: #0b113b;
    background-color: #00ffff;
    padding-inline: 60px;
    padding-block: 21px;
    font-size: 1.7rem;
    font-weight: 800;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px #00ffff;
    
}
#NextPage:disabled {
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    cursor: not-allowed;
    box-shadow: 0px 0px 20px 0px transparent;
}